.badge {
	font-size: 1em;
	color: white;
	display:inline-block;
	width: 2em; height:2em;
	text-align: center;
	line-height: 2em;
	border-radius: 50%;
	transform: scale(.7,.7);
	font-weight: bold;
}
	@each $colorName, $color in s-setting('colors') {
		$sel : ".badge--#{$colorName}";
		@if $colorName == default {
			$sel : ".badge";
		}
		#{$sel} {
			background-color: s-color($colorName);
		}
	}
