.coffeekraken-logo {
	@include s-coffeekraken-logo(
		$color : white,
		$accent : s-color(primary)
	);
	max-width:120px;
}
.coffeekraken-logo--white {
	@include s-coffeekraken-logo(
		$color : white,
		$accent : white
	);
	max-width:120px;
}
