/**
 * Lists
 */
.list {
	@include s-list();
}

/**
 * @name 	List menu
 */
.list--menu {
	> .list__item {

		> a {
			display:block;
			padding:10px 15px;
			@include s-font(
				$size : .9em,
				$decoration : none,
				$transform : uppercase,
				$weight : bold,
				$color : s-color(title)
			);
			&:hover {
				background:darken(white, 1%);
			}
			&.active {
				text-decoration: underline;
				border-right:5px solid s-color(secondary);
			}
		}
	}
}

/**
 * @name 	List submenu
 */
.list--submenu {

	> .list__item {

		> a {
			display:block;
			padding:5px 25px;
			@include s-font(
				$size : .7em,
				$decoration : none,
				$color : s-color(text)
			);
			&:hover {
				background:darken(white, 1%);
			}
			&.active {
				text-decoration: underline;
				color: s-color(primary);
			}
		}
	}
}

.list--three {
	// padding:0 5px;
	overflow: visible !important;

	.list--three {
		padding:0 0;
	}

	> .list__item {
		@include s-truncate-text();
		padding-left: s-space(small);
		display: block;

		.list__item--toggle {

			+ .list {
				max-height: 0;
				overflow: hidden;
				// @include s-transition(max-height slow);
			}
			&.active {
				+ .list {
					max-height:10000px;
				}
			}
		}

		> a {
			display:block;
			padding:8px 10px;
			@include s-font(
				$size : .8em,
				$decoration : none,
				$color : s-color(text)
			);
			i {
				color: s-color(text) !important;
			}

			border-left: 1px solid s-color(border);
			margin-left:-1px;
			&:before {
				content:'';
				display:block;
				position: absolute;
				bottom:0; left:0;
				width:15px; height:1px;
				background: s-color(border);
			}

			&:hover {
				background:darken(white, 1%);
			}
			&.active {
				border-left: 1px solid s-color(primary);
				&:before {
					background: s-color(primary);
				}

				> i {
					color: s-color(primary) !important;
				}
			}
			&:first-child:last-child.active {
				color: s-color(primary);
				// border-right: 3px solid s-color(border);
				background:darken(white, 1%);
				// font-weight: bold;
			}
		}
	}
}
