/**
 * Lists
 */
.list {
	@include s-list();
}

/**
 * @name 	List menu
 */
.list--menu {
	> .list__item {

		.list__item--toggle {

			+ .list {
				max-height: 0;
				overflow: hidden;
				// @include s-transition(max-height slow);
			}
			&.active {
				+ .list {
					max-height:10000px;
				}
				i {
					opacity:.6;
					color: s-color(primary);
				}
				.fa-plus { display:none; }
				.fa-minus { display:block; }
			}
			&:hover {
				i { opacity:.6}
			}
			i {
				pointer-events:none;
				font-size: 8px;
				opacity:.2;
			}
			.fa-minus {
				display:none;
			}
		}

		> a {
			display:block;
			padding:10px 15px;
			@include s-font(
				$size : .9em,
				$decoration : none,
				$transform : uppercase,
				$weight : bold,
				$color : s-color(title)
			);
			&:hover {
				background:darken(white, 1%);
			}
		}
	}
}

/**
 * @name 	List submenu
 */
.list--submenu {

	> .list__item {

		> a {
			display:block;
			padding:10px 25px;
			@include s-font(
				$size : .8em,
				$decoration : none,
				$color : s-color(text)
			);
			&:hover {
				background:darken(white, 1%);
			}
			&.active {
				text-decoration: underline;
				color: s-color(primary);
			}
		}
	}
}

.list--three {
	// padding:0 5px;
	overflow: visible !important;

	.list--three {
		padding:0 0;
	}

	> .list__item {
		@include s-truncate-text();
		padding-left: s-space(small);
		display: block;

		.list__item--toggle {

			+ .list {
				max-height: 0;
				overflow: hidden;
				// @include s-transition(max-height slow);
			}
			&.active {
				+ .list {
					max-height:10000px;
				}
			}
		}

		> a {
			display:block;
			padding:10px 10px;
			@include s-font(
				$size : .8em,
				$decoration : none,
				$color : s-color(text)
			);
			i {
				color: s-color(text) !important;
				pointer-events: none;
			}

			border-left: 1px solid s-color(border);
			margin-left:-1px;
			&:before {
				content:'';
				display:block;
				position: absolute;
				bottom:0; left:0;
				width:15px; height:1px;
				background: s-color(border);
			}

			&:hover {
				background:darken(white, 1%);
			}
			&.active {
				border-left: 1px solid s-color(primary);
				&:before {
					background: s-color(primary);
				}

				> i {
					color: s-color(primary) !important;
				}
			}
			&:first-child:last-child.active {
				color: s-color(primary);
				// border-right: 3px solid s-color(border);
				background:darken(white, 1%);
				// font-weight: bold;
			}
		}
	}
}

/**
 * Contributors
 */
.list--contributors {
	margin-left: -5px;
	margin-right: -5px;

	.list__item {
		display: inline-block;
		margin:0 5px;

		a {
			border-radius: 50%;
			overflow:hidden;
			width: s-rem(36px);
			height: s-rem(36px);
			border: 1px solid s-color(primary);
			display:block;
		}

		img {
			@include s-fit;
		}
	}
}
