.components {

	iframe {
		border: solid 10px darken(white, 1%);
		margin-bottom: s-rem(-2px);
	}

	.tabs {
		margin-top: s-rem(-2px);
	}

	.components__separator {
		background: darken(white, 1%);
		height: s-rem(30px);
		margin: s-space(bigger) s-space(bigger)*-1;

	}

	.toggle-code {
		padding: s-space(default);
		text-decoration: none;
		display: block;
		background: darken(white, 1%);

		&:hover {
			background: darken(white, 3%);
		}
	}

	.components__data-content,
	.components__view-data {
		display: none;

		&.active {
			display: block;
		}
	}
}
