.components {
	margin: -3rem;

	iframe {
		border-right: solid 10px darken(white, 5%);
	}

	.toggle-code {
		padding: s-space(default);
		text-decoration: none;
		display: block;
		background: darken(white, 1%);

		&:hover {
			background: darken(white, 3%);
		}
	}

	img {
		&:not(.img-fullscreen)[tabindex] {
			max-width:500px;
			max-height:500px;
			border:solid 4px s-color(primary);
			cursor: pointer;
			outline: none;
			@include s-transition(fast);
		}

		&:focus + .img-fullscreen {
			display: block;
		}
	}
	.img-fullscreen {
		position:fixed;
		z-index:999;
		top:0; left:s-rem(40px);
		width:calc(100% - 40px); height:100%;
		background: s-color(secondary, -opacity .8);
		object-fit: scale-down;
		cursor: pointer;
		display:none;
	}

	+ .footer {
		display: none;
	}
}
	.components__content {
		margin-top: s-rem(50px);
	}
	.components__iframe-wrapper {
		position: relative;
		background: white;
		width: 100%;
		height: calc(100vh - 103px);
		max-width: 100%;

		&:hover {
			.components__iframe-wrapper-actions {
				opacity: 1;
				pointer-events: all;
			}
		}
	}
		.components__iframe-wrapper-actions {
			position: absolute;
			bottom: s-rem(20px); right: s-rem(30px);
			opacity: 0;
			pointer-events: none;
			@include s-transition(fast);
		}
			.components__iframe-wrapper-action {
				background: s-color(default);
				padding: s-rem(5px) s-rem(8px);
				color: white;
				font-size: .7em;
				text-decoration: none;
				position: relative;

				&:hover {
					background-color: s-color(secondary);
				}
			}

	.components__data-wrapper {
		position: absolute;
		top: 50px; left: calc(100% - 15px);
		width: 33vw;
		@include s-transition(fast);
		@include s-depth(0);

		&:hover {
			left: 67%;
			@include s-depth(10);
		}
	}
		.components__data-wrapper-toggle {
			width: s-rem(40px);
			height: s-rem(40px);
			position: absolute;
			top: 0; right: 100%;
			background-color: s-color(primary);
			text-align: center;
			line-height: s-rem(40px);
			color: white;
		}
		.components__data-wrapper-content {
			height: calc(100vh - 100px);
			background-color: s-color(default);

			pre {
				height: 100%;
			}
		}

	.components__tab {
		display: inline-block;
		height: s-rem(50px);
		line-height: s-rem(50px);
		text-decoration: none;
		padding: 0 s-space(default);

		&:hover,
		&.active {
			font-weight: bold;
			border-bottom: 2px solid s-color(primary);
		}
	}
	.components__tab-content {
		display: none;

		&.active {
			display: block;
		}
	}
		.components__tab-content--render {
			background: darken(white, 3%);
		}
		.components__tab-content--readme {
			max-width: s-rem(900px);
		}

	.components__topbar {
		position: fixed;
		top: s-rem(50px);
		left: s-rem(40px);
		z-index: 1;
		border-bottom: 1px solid s-color(border);
		width: calc(100% - 40px);
		height: s-rem(50px);
		background: white;
		display: flex;
		align-items: center;
	}
		.components__topbar-item {
			flex: 0;
			white-space: nowrap;
		}
		.components__topbar-item--title {
			padding: 0 s-space(default);
			text-transform: capitalize;
			border-right: 1px solid s-color(border);
			white-space: nowrap;
		}
		.components__topbar-item--grow {
			flex: 1;
		}
		.components__topbar-item--contributors {
			white-space: nowrap;

			.gravatar {
				margin-right: s-space(small);
			}

		}
		.components__topbar-item--status {
			padding: 0 s-space(default);
			white-space: nowrap;
		}
