/**
 * Documentation styling
 */
.documentation {


	h1 {
		// background-color:s-color(title);
		// background-image:url('../img/header-bkg-grey.png');
		// background-blend-mode: luminosity;
		// background-repeat:no-repeat;
		// background-size:cover;
		// color: white;
		// margin:s-space(bigger) * -1;
		// text-shadow:rgba(0,0,0,.3) 0 0 5px;
		//
		& + p {
			@extend .p;
			@extend .p--lead;
		}
	}
	h2 {
		border-top:10px solid darken(white,1%);
		padding-top:6rem;
		margin-bottom:2rem;
		margin-top:6rem;
		// margin-left:s-space(bigger) * -1;
		// margin-right:s-space(bigger) * -1;
		// padding-left:s-space(bigger);
		// padding-right:s-space(bigger);
	}
	h3 {
		margin-top:6rem;
	}
	p {
		max-width: 800px;
	}

	pre {
		margin-top:1em !important;
		margin-bottom:3em !important;
		code {
			background-color: transparent !important;
			text-transform: none !important;
		}
	}
	code {
		background:s-color(border, -lighten 5%);
		padding:0 5px;
		@include s-font(code);
		@include s-transition(fast);
		text-transform:lowercase;
		&:hover {
			background: s-color(border);
		}
	}
	p code {
		padding:10px;
		display:inline-block;
	}
	table {
		@extend .table;
		@extend .table--hover;
		@extend .table--striped;
	}
	blockquote {
		@extend .vr;
		padding:0 s-space(medium);
		border-left:3px solid s-color(border);
		font-size:2em;
		margin-top:2em;
		margin-bottom:2em;
	}

	img {
		&:not(.img-fullscreen) {
			max-width:500px;
			max-height:500px;
			border:solid 4px s-color(primary);
			cursor: pointer;
			outline: none;
			@include s-transition(fast);
		}

		// &:hover {
		// 	border-left-width: 10px;
		// }

		&:focus + .img-fullscreen {
			display: block;
		}
	}
	.img-fullscreen {
		position:fixed;
		top:50%; left:50%;
		@include s-translate(-50%, -50%);
		width:100%; height:100%;
		background: s-color(secondary, -opacity .8);
		object-fit: scale-down;
		cursor: pointer;
		display:none;
	}
}
